# 本番環境で必要な依存関係
Flask
flask-babel
Flask-Login
Flask-SQLAlchemy
pillow
PyMySQL
click
cryptography
pyotp
python-dotenv
qrcode
requests
celery
redis
PyJWT
Markdown
python-dateutil
MarkupSafe

# 開発環境でのみ必要な依存関係
Flask-Migrate
alembic
pytest
