
<!DOCTYPE html>
<html>

  <head>
    <title>nolumia API</title>
    <link href="https://cdn.jsdelivr.net/npm/swagger-ui-dist/swagger-ui.css" rel="stylesheet" type="text/css"/>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  </head>

 <body>
      <p class="text-muted small">Version: {{ app_version }}</p>

   <div id="swagger-ui-container"></div>

   <script src="https://cdn.jsdelivr.net/npm/swagger-ui-dist/swagger-ui-standalone-preset.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/swagger-ui-dist/swagger-ui-bundle.js"></script>
   <script>

     config = {
       url: "/api/openapi.json",
       dom_id: '#swagger-ui-container'
     }

     var override_config = {"persistAuthorization": true};
     for (var attrname in override_config) { config[attrname] = override_config[attrname]; }

     window.onload = function() {
       window.ui = SwaggerUIBundle(config)
     }
   </script>

 </body>

</html>
