{% extends "base.html" %}
{% block title %}{{ _('Dashboard') }}{% endblock %}
{% block content %}
<h2>{{ _('Dashboard') }}</h2>
<p>{{ _('This page requires login.') }}</p>

<p>
              {% if current_user.can('user:manage') %}
       <ul class="list-unstyled">
         <li>
           <a href="{{ url_for('admin.users') }}" class="btn btn-outline-primary">
             {{ _('Manage Users') }}
           </a>
         </li>
         <li>
           <a href="{{ url_for('admin.show_config') }}" class="btn btn-outline-primary">
             {{ _('View Config Settings') }}
           </a>
         </li>
         <li>
           <a href="{{ url_for('photo_view.google_accounts') }}" class="btn btn-outline-primary">
             {{ _('Manage Google Accounts') }}
           </a>
         </li>
       </ul>
     </ul>
       {% endif %}

</p>

{% endblock %}
